.header {
    display: grid;
    grid-template-columns: 40% 30% 1fr;
}

.header input {
    width: 80%;
    margin-top: 20px;
    height: 35px;
}

.header .search .fas {
    margin-top: 20px;
    padding-left: 5px;
    color: rgb(144, 144, 148);
    position: absolute;
    font-size: 30px;
}

.header .search .fas:hover {
    color: rgb(112, 112, 112);
}

.header .right-side .fa-bell {
    color: rgb(144, 144, 148);
    font-size: 25px;
    padding-left: 30%;
    margin-top: 20px;
    font-size: 30px;
}

.header .right-side .fa-bell:hover {
    color: rgb(112, 112, 112);
    
}

.header .right-side .fa-paw {
    color: rgb(20, 20, 20);
    border-radius: 8px;
    font-size: 25px;
}

.header .fas {
    color: rgb(236, 152, 42);
    cursor: pointer;
    margin-top: 5px;
}

.header .logoname {
    color: rgb(236, 152, 42);
    margin-left: 50px;
    margin-top: -44px;
    font-size: 40px;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding: auto;
    width: 50px;
    margin-right: 50px;
}

.dropbtn {
    background-color: rgb(236, 152, 42);
    margin-right: 0px;
    color: white;
    margin-left: 35px;
    border: solid 2px;
    border-radius: 100%;
    padding: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-height: 120px;
    width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5%;
}

.dropdown-content a {
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color:rgb(112, 112, 112);
}

.dropdown .dropdown-content .fa-paw {
    font-size: 15px;
}

.dropdown .dropdown-content .fa-cog {
    font-size: 15px;
    color: black;
}

.dropdown .dropdown-content .settings {
    border-bottom: solid 1px black;
}

.dropdown .dropdown-content .exit {
    color:red;
}

.dropdown .dropdown-content .fa-sign-out-alt {
    color:red;
}
