.main .footer p {
    text-align: center;
}

.main img {
    width: 390px;
    height: 200px;
}

.main .gallery {
    display: grid;
    grid-gap: 10px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(auto-fill, 390px);
    grid-template-rows: 250px;
}

.main .gallery p {
    margin-top: 0px;
    font-family: cursive;
}

.main .gallery .video-desc {
    font-size: 20px;
}

.carousel-wrapper {
    height: 400px;
    position: relative;
    width: 600px;
    max-width: 100%;
    min-width: 100px;
    margin: 55px auto;
}

.carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-prev {
    left:-30px;
    position:absolute;
    top:50%;
    transform:translateY(-50%) rotate(135deg);
}

.arrow-next {
    right:-30px;
    position:absolute;
    top:50%;
    transform:translateY(-50%) rotate(-45deg); 
}

[id^="item"] {
    display: none;
    vertical-align: middle;
}

.item-1 {
    z-index: 2;
    opacity: 1;
    background:url('../style/images/cats_preview.jpg');
    background-size:cover;
}

.item-2 {
    background:url('../style/images/cats_preview2.jpg');
    background-size:cover;
}

.item-3 {
    background:url('../style/images/cats_preview3.jpg');
    background-size:cover; 
}

*:target ~ .item-1 {
    opacity: 0;
}

#item-1:target ~.item-1 {
    opacity: 1;
}

#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
}

.main .category {
    display: grid;
    grid-gap: 20px;
    grid-auto-columns: 140px;
    grid-auto-flow: column;
    overflow-x: scroll;
    overflow-y: hidden;
    grid-template-rows: 45px;
    padding-top: 8px;
}

.main .category span {
    border: solid 2px rgb(241, 241, 241);
    text-align: center;
    border-radius: 20%;
    padding-top: 10px;
    background-color: rgb(234, 234, 238);
    font-family: 'Gil Sans';
    font-weight: bold;
}

.main .category span:hover {
    background-color:rgb(141, 140, 140);
}

.main .category::-webkit-scrollbar {
    width: 5px;
    height: 5px;
} 

.main .category::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
}

.main .category::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #e0aa6c, #db7e04);
}

.main .gallery .status {
    position: relative;
    border: solid red;
    color: white;
    margin: -195px 0px 170px 15px;
    width: 55px;
    padding-left: 5px;
    border-radius: 10%;
    background-color: red;
}

.main .gallery .users-online {
    color: white;
    margin-left: 263px;
    margin-top: -38px;
    position: relative;
    width: 120px;
    padding-left: 8px;
    background-color: rgb(8 8 8 / 73%);
    border-radius: 10%;
}

.main .gallery .minutes {
    color: white;
    margin-left: 324px;
    margin-top: -38px;
    position: relative;
    width: 60px;
    padding-left: 8px;
    background-color: rgb(8 8 8 / 73%);
    border-radius: 10%;
}

.main .gallery .fa-ellipsis-v {
    margin-left: 195px;
}

.main .gallery .creator-name {
    color: rgb(141, 140, 140);
    margin-top: -20px;
    font-size: 14px;
}

.main .gallery .img:hover {
    opacity: 1;
}

.main .carousel-wrapper .carousel-name {
    color: white;
    background-color: rgb(8 8 8 / 45%);
    width: 100%;
    height: 55px;
    margin-left: -50px;
    padding-left: 5px;
    margin-top: -24px;
}

.main .carousel-wrapper .creator-name {
    color: white;
    margin-left: -45px;
    margin-top: -50px;
    font-size: 14px;
}

.main .carousel-wrapper .carousel-name:hover {
    color:rgb(117, 117, 241);
    cursor: pointer;
}

.main .footer p {
    font-weight: bold;
    font-family: cursive;
    margin-top: 40px;
    cursor: pointer;
}


















