.sidebar .content {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(60px, 1fr));
    overflow: auto;
}

.sidebar .content img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
}

.sidebar .content p {
    font-family: 'Gil Sans';
    font-weight: bold;
    font-size: 20px;
    text-overflow: ellipsis;
}

.sidebar .streamer .name {
    margin-left: 60px;
    margin-top: -38px;
}

.sidebar .circle {
    width: 9px;
    height: 9px;
    background-color: rgb(182, 45, 45);
    border-radius: 50%;
    position: relative;
    margin-left: 175px;
    margin-top: -40px;
    margin-bottom: 16px;
}

.sidebar .views {
    margin-left: 190px;
    margin-top: -48px;
}

.sidebar .ringring {
    border: 3px solid rgba(182, 45, 45, 0.5);
    -webkit-border-radius: 30px;
    border-radius: 30px;
    height: 15px;
    width: 15px;
    position: relative;
    -webkit-animation: pulsate 1s ease-out;
    animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; 
    opacity: 0.0;
    margin-left: 172px;
    margin-top: -27px;
    margin-bottom: 28px;
}

.sidebar .streamer:hover {
    background-color:rgb(141, 140, 140);
    cursor: pointer;
    color: rgb(5, 5, 138);
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

.sidebar .info-block {
    border-top: solid 1px white;
}

.sidebar .info-block p {
    text-align: center;
    font-family: 'Gil Sans';
    font-weight: bold;
}

.sidebar .info-block p::selection {
    background: rgb(224, 160, 76);
}

.sidebar .info-block .social-links {
    text-align: center;
    font-size: 20px;
    background-color: rgb(202, 202, 202);
    width: 205px;
    border: solid 1px rgb(202, 202, 202);
    margin: auto;
    margin-top: 15px;
    border-radius: 5%;
}

.sidebar .social-links .fa-instagram, .fa-facebook {
    box-sizing: border-box;
    margin-left: 20px;
}

.sidebar .social-links 
.fa-instagram:hover, 
.fa-facebook:hover, 
.fa-telegram:hover {
    color: rgb(5, 5, 138);
    cursor: pointer;
}