.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 270px 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas: 
      "header header"
      "sidebar main"
      
      ;
    grid-gap: 1rem;
    grid-row-gap: 0px;
}

.header {
    grid-area: header;
    box-shadow:0px 3px rgba(117, 116, 116, 0.2);
}
  
.main {
    display: grid;
    grid-template-rows: 10% 60% 1fr 10%;
    grid-column: main;
    overflow: auto;
}
  
.sidebar {
    display: grid;
    grid-template-rows: 80% 20%;
    grid-row: sidebar;
    background-color: rgb(226, 226, 229);
}

.sidebar, .main {
    min-height: 300px;
}
  
body {
    margin: 0;
    padding: 0;
    background: white;
    line-height: 1.5;
    font-family: 'Arial';
}

* {
    box-sizing: border-box;
}